beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
Cython==3.0.9
feedparser==6.0.11
idna==3.6
PyYAML==6.0.1
requests==2.31.0
sgmllib3k==1.0.0
slackweb==1.0.5
soupsieve==2.5
urllib3==2.2.1
